<!DOCTYPE html>
<html>

<head>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <link rel="stylesheet" type="text/css" href="/text/assets/styles/stylesheet.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/text/assets/styles/github-dark.css" media="screen">
  <link rel="stylesheet" type="text/css" href="/text/assets/styles/print.css" media="print">

  <title>{{ page.title }} - @Takumi Oda</title>
</head>

<body>

  <header>
    <div class="container">
      <h1>
        <a href="https://xiaotiantakumi.github.io/Curriculum-Vitae/">
          @Takumi Oda
        </a>
      </h1>
      <h2>公開用スキルシート</h2>

      <section id="downloads">
        <a href="https://github.com/xiaotiantakumi/Curriculum-Vitae" class="btn btn-github"></span>View on GitHub
        </a>
      </section>
    </div>
  </header>

  <div class="container">
    <section id="main_content">
      {{ content }}
    </section>
  </div>


</body>

</html>